# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Send the HSTS header, but only over an HTTPS connection. The IETF recommends
# against sending the HSTS header over HTTP and most browsers also ignore the
# HSTS header when sent over HTTP.
#
# https://stackoverflow.com/a/24145033
# https://tools.ietf.org/html/rfc6797#section-7.2
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Serve WebM videos with the correct type to encourage browsers to play them
# directly.
AddType video/webm .webm
